@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #16a34a;
  color: #ffffff;
}
@layer utilities {
  /* button:disabled {
    @apply cursor-not-allowed hover:scale-100 bg-primary-500 hover:bg-primary-500 text-gray-100 scale-100;
  } */
}

/* ======= toast style ======== */

.toastBox .Toastify__progress-bar {
  height: 3px !important;
  border-radius: 9999px !important;
}

.progressSuccess {
  background: linear-gradient(to right, #10b981, #059669) !important;
}
.progressError {
  background: linear-gradient(to right, #ef4444, #b91c1c) !important;
}
.progressWarning {
  background: linear-gradient(to right, #f59e0b, #d97706) !important;
}
